h1,
.h1 {
  font-size: $size-base * 9;
  font-weight: $fontWeight-normal;
  line-height: 1.33;
  margin-bottom: $size-base * 3;
  margin-top: 0;
  color: var(--color-text-highlighted);
  &:not(:first-child) {
    margin-top: $size-base * 6;
  }
}

h2,
.h2 {
  font-size: $size-base * 6;
  font-weight: $fontWeight-normal;
  line-height: 1.33;
  margin-bottom: $size-base * 3;
  margin-top: 0;
  color: var(--color-text-highlighted);
  &:not(:first-child) {
    margin-top: $size-base * 16;
    .app-l-grid:not(.app-l-grid__draw-grid) > & {
      margin-top: $size-base * 12;
    }
  }
}

h3,
.h3 {
  font-size: $size-base * 4.5;
  font-weight: $fontWeight-normal;
  line-height: 1.33;
  margin-bottom: $size-base * 3;
  margin-top: 0;
  color: var(--color-text-highlighted);
  &:not(:first-child) {
    margin-top: $size-base * 12;
  }
}

h4,
.h4 {
  font-size: $size-base * 4;
  font-weight: $fontWeight-normal;
  line-height: 1.25;
  margin-bottom: $size-base * 3;
  margin-top: 0;
  color: var(--color-text-highlighted);
  &:not(:first-child) {
    margin-top: $size-base * 8;
  }
}

h5,
.h5 {
  font-size: $size-base * 3.5;
  font-weight: $fontWeight-bold;
  line-height: 1.14;
  margin-bottom: $size-base * 3;
  margin-top: 0;
  color: var(--color-text-75);
  &:not(:first-child) {
    margin-top: $size-base * 6;
  }
}

h6,
.h6 {
  font-size: $size-base * 3;
  font-weight: $fontWeight-bold;
  line-height: 1.33;
  margin-bottom: $size-base * 2;
  margin-top: 0;
  color: var(--color-text-75);
  &:not(:first-child) {
    margin-top: $size-base * 4;
  }
}

a {
  transition: color .2s;
  text-decoration: none;
  color: var(--color-secondary);
  &:hover {
    cursor: pointer;
    color: var(--color-secondary__lighten);
  }
}

p {
  margin: 0 0 $size-base * 3;
}

ol,
ul {
  padding-left: $size-base * 4;
  margin-bottom: $size-base * 6;
  .app-markdown & > * + * {
    margin-top: $size-base * 3;
  }
  &.app-list > * + * {
    margin-top: $size-base * 2;
  }
  .app-card &:not(.app-tag-list) {
    padding-left: $size-base * 2;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.17;
    list-style-type: none;
    li {
      position: relative;
      &:before {
        display: block;
        content: '';
        width: $size-base;
        height: $size-base;
        border-radius: $size-base / 2;
        position: absolute;
        left: -#{$size-base * 2};
        top: $size-base * 1.25;
        background-color: var(--color-text);
      }
    }
    & > * + * {
      margin-top: $size-base * 2;
    }
  }
}

blockquote,
.blockquote {
  padding: 0 0 0 $size-base * 8;
  font-size: $fontSize-large;
  font-style: italic;
  line-height: 1.5;
  position: relative;
  border-left: $size-base solid var(--color-secondary);
  color: var(--color-text);
  &:before {
    content: '“';
    font-size: $size-base * 12;
    position: absolute;
    left: $size-base;
    top: 0;
    line-height: 1;
    @include themify($themes) {
      color: var(--color-secondary);
    }
  }
}

pre,
code {
  border-radius: 6px;
  border: none;
  color: var(--color-text-highlighted);
  background-color: var(--bg-code);
}

pre {
  line-height: 1.3;
  padding: $size-base * 2;
  margin-bottom: $size-base * 3;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    border-radius: 0;
    background-color: transparent;
  }
}

code {
  line-height: 1;
  padding: $size-base;
}

code,
kbd,
samp {
  font-family: RobotoMono;
}

.app-help-text {
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-text);
}